# Python
__pycache__/
classification_mono/__pycache__/
classification_mono/losses/__pycache__/
classification_multi/__pycache__/
regression/__pycache__/
*.pyc

# Environments
ccvae_env/

# Data
data/

# Results / artifacts
results*/
training_logs.txt

# Notebooks checkpoints
.ipynb_checkpoints/

